In [17]:
## Declaring and assigning variables
age=32
height=6.1
name="Krish"
is_student=True

print("age :",age)
print("Height",height)
print("Name", name)

age : 32
Height 6.1
Name Krish

In [ ]:
## Naming Convension
## Variables names should be descriptive
## They must start with a letter or an '_' and contain letter, numbers and underscrores
## variables names are case sensitive

first_name="Hrish"
last_name="Antra"

2age=25

SyntaxError: invalid decimal literal (2909127969.py, line 9)

In [ ]:
##invalid variables
first-name="Abcd"
@name="Nair"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (431734890.py, line 2)

In [ ]:
##Types
#Numbers,String,Boolean,Flaot
age=24
height=6.4
name="Anurag"
is_student=False

In [ ]:
##Type Conversion
##int to string
age = 24
print(age)
print(type(age))
age = str(age)
print(age)
print(type(age))

## string to int
age='25'
print(type(int(age)))

24
<class 'int'>
24
<class 'str'>
<class 'int'>

In [ ]:
name="Anurag"
name = int(name)
print(name)

ValueError: invalid literal for int() with base 10: 'Anurag'

In [ ]:
height=6.1
type(height)

float

In [ ]:
int(height)
print(int(height))

6

In [ ]:
##Dynamic Typing
##Python allows the type of varibale to change as the program exucutes
var = 10
print(var,type(var))

10 <class 'int'>

Input

In [16]:
##input

age=int(input("What is the age"))
print(age,type(age))

23 <class 'int'>

Calculator

In [18]:
num_one=float(input("Enter first number"))
num_two=float(input("Enter second Number"))
sum = num_one + num_two
difference=num_one-num_two
product=num_one*num_two
quotient=num_one/num_two
reminder=num_one%num_two

print("Sum: ",sum)
print("Difference: ", difference)
print("Product: ",product)
print("Quotient: ",quotient)
print("Reminder: ",reminder)

Sum:  90.0
Difference:  -44.0
Product:  1541.0
Quotient:  0.34328358208955223
Reminder:  23.0